 .u-section-1 {
  background-image: url("images/1.png");
  background-position: 50% 50%;
}
/* color */

.u-section-1 .u-sheet-1 {
  min-height: 703px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 591px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 391px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 364px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 248px;
  }
} .u-section-2 {
  background-image: url("images/21.png");
  background-position: 50% 50%;
}

.u-section-2 .u-sheet-1 {
  min-height: 791px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 601px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 463px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 358px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 250px;
  }
} .u-section-3 {
  background-image: url("images/9_1p.gif");
  background-position: 41.88% 50%;
}

.u-section-3 .u-sheet-1 {
  min-height: 919px;
}

@media (max-width: 1199px) {
   .u-section-3 {
    background-position: 43.48% 50%;
  }

  .u-section-3 .u-sheet-1 {
    min-height: 792px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 610px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 467px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 320px;
  }
} .u-section-4 {
  background-image: url("images/43.png");
  background-position: 50% 50%;
}

.u-section-4 .u-sheet-1 {
  min-height: 620px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 471px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 410px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 321px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 206px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 149px;
}

.u-section-5 .u-text-1 {
  font-size: 4.5rem;
  margin: 36px auto;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 108px;
  }

  .u-section-5 .u-text-1 {
    font-size: 3.75rem;
    width: auto;
    margin-top: 21px;
    margin-bottom: 21px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 101px;
  }

  .u-section-5 .u-text-1 {
    font-size: 3rem;
    margin-top: 24px;
    margin-bottom: 24px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 70px;
  }

  .u-section-5 .u-text-1 {
    font-size: 2.25rem;
    margin-top: 16px;
    margin-bottom: 16px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 48px;
  }

  .u-section-5 .u-text-1 {
    font-size: 1.25rem;
    margin-top: 11px;
    margin-bottom: 11px;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 222px;
}

.u-section-6 .u-countdown-1 {
  margin: 1px auto;
  padding: 26px 210px;
}

.u-section-6 .u-countdown-item-1 {
  background-image: none;
  padding: 20px 30px;
}

.u-section-6 .u-countdown-counter-1 {
  font-size: 6rem;
  letter-spacing: -1px;
  line-height: 1;
  font-weight: 700;
  font-family: "Roboto Slab", serif;
}

.u-section-6 .u-countdown-label-1 {
  font-size: 0.875rem;
  font-style: normal;
  text-transform: uppercase;
  font-weight: normal;
}

.u-section-6 .u-countdown-separator-1 {
  font-size: 6rem;
  letter-spacing: -1px;
  line-height: 1;
  font-weight: 700;
  font-family: "Roboto Slab", serif;
}

.u-section-6 .u-countdown-item-2 {
  background-image: none;
  padding: 20px 30px;
}

.u-section-6 .u-countdown-counter-2 {
  font-size: 6rem;
  letter-spacing: -1px;
  line-height: 1;
  font-weight: 700;
  font-family: "Roboto Slab", serif;
}

.u-section-6 .u-countdown-label-2 {
  font-size: 0.875rem;
  font-style: normal;
  text-transform: uppercase;
  font-weight: normal;
}

.u-section-6 .u-countdown-separator-2 {
  font-size: 6rem;
  letter-spacing: -1px;
  line-height: 1;
  font-weight: 700;
  font-family: "Roboto Slab", serif;
}

.u-section-6 .u-countdown-item-3 {
  background-image: none;
  padding: 20px 30px;
}

.u-section-6 .u-countdown-counter-3 {
  font-size: 6rem;
  letter-spacing: -1px;
  line-height: 1;
  font-weight: 700;
  font-family: "Roboto Slab", serif;
}

.u-section-6 .u-countdown-label-3 {
  font-size: 0.875rem;
  font-style: normal;
  text-transform: uppercase;
  font-weight: normal;
}

.u-section-6 .u-countdown-separator-3 {
  font-size: 6rem;
  letter-spacing: -1px;
  line-height: 1;
  font-weight: 700;
  font-family: "Roboto Slab", serif;
}

.u-section-6 .u-countdown-item-4 {
  background-image: none;
  padding: 20px 30px;
}

.u-section-6 .u-countdown-counter-4 {
  font-size: 6rem;
  letter-spacing: -1px;
  line-height: 1;
  font-weight: 700;
  font-family: "Roboto Slab", serif;
}

.u-section-6 .u-countdown-label-4 {
  font-size: 0.875rem;
  font-style: normal;
  text-transform: uppercase;
  font-weight: normal;
}

.u-section-6 .u-countdown-separator-4 {
  font-size: 6rem;
  letter-spacing: -1px;
  line-height: 1;
  font-weight: 700;
  font-family: "Roboto Slab", serif;
}

.u-section-6 .u-countdown-item-5 {
  background-image: none;
  padding: 20px 30px;
}

.u-section-6 .u-countdown-counter-5 {
  font-size: 6rem;
  letter-spacing: -1px;
  line-height: 1;
  font-weight: 700;
  font-family: "Roboto Slab", serif;
}

.u-section-6 .u-countdown-label-5 {
  font-size: 0.875rem;
  font-style: normal;
  text-transform: uppercase;
  font-weight: normal;
}

.u-section-6 .u-countdown-separator-5 {
  font-size: 6rem;
  letter-spacing: -1px;
  line-height: 1;
  font-weight: 700;
  font-family: "Roboto Slab", serif;
}

.u-section-6 .u-countdown-item-6 {
  background-image: none;
  padding: 20px 30px;
}

.u-section-6 .u-countdown-counter-6 {
  font-size: 6rem;
  letter-spacing: -1px;
  line-height: 1;
  font-weight: 700;
  font-family: "Roboto Slab", serif;
}

.u-section-6 .u-countdown-label-6 {
  font-size: 0.875rem;
  font-style: normal;
  text-transform: uppercase;
  font-weight: normal;
}

@media (max-width: 1199px) {
  .u-section-6 .u-countdown-1 {
    margin-top: 0;
    margin-bottom: 2px;
    padding-left: 110px;
    padding-right: 110px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 195px;
  }

  .u-section-6 .u-countdown-1 {
    margin-bottom: 3px;
    padding: 24px 54px;
  }

  .u-section-6 .u-countdown-counter-1 {
    font-size: 4.5rem;
  }

  .u-section-6 .u-countdown-separator-1 {
    font-size: 4.5rem;
  }

  .u-section-6 .u-countdown-counter-2 {
    font-size: 4.5rem;
  }

  .u-section-6 .u-countdown-separator-2 {
    font-size: 4.5rem;
  }

  .u-section-6 .u-countdown-counter-3 {
    font-size: 4.5rem;
  }

  .u-section-6 .u-countdown-separator-3 {
    font-size: 4.5rem;
  }

  .u-section-6 .u-countdown-counter-4 {
    font-size: 4.5rem;
  }

  .u-section-6 .u-countdown-separator-4 {
    font-size: 4.5rem;
  }

  .u-section-6 .u-countdown-counter-5 {
    font-size: 4.5rem;
  }

  .u-section-6 .u-countdown-separator-5 {
    font-size: 4.5rem;
  }

  .u-section-6 .u-countdown-counter-6 {
    font-size: 4.5rem;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 162px;
  }

  .u-section-6 .u-countdown-1 {
    margin-top: 3px;
    padding-left: 12px;
    padding-right: 12px;
  }

  .u-section-6 .u-countdown-counter-1 {
    font-size: 2.25rem;
  }

  .u-section-6 .u-countdown-separator-1 {
    font-size: 2.25rem;
  }

  .u-section-6 .u-countdown-counter-2 {
    font-size: 2.25rem;
  }

  .u-section-6 .u-countdown-separator-2 {
    font-size: 2.25rem;
  }

  .u-section-6 .u-countdown-counter-3 {
    font-size: 2.25rem;
  }

  .u-section-6 .u-countdown-separator-3 {
    font-size: 2.25rem;
  }

  .u-section-6 .u-countdown-counter-4 {
    font-size: 2.25rem;
  }

  .u-section-6 .u-countdown-separator-4 {
    font-size: 2.25rem;
  }

  .u-section-6 .u-countdown-counter-5 {
    font-size: 2.25rem;
  }

  .u-section-6 .u-countdown-separator-5 {
    font-size: 2.25rem;
  }

  .u-section-6 .u-countdown-counter-6 {
    font-size: 2.25rem;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 96px;
  }

  .u-section-6 .u-countdown-1 {
    margin: 8px -6px;
    padding: 0;
  }

  .u-section-6 .u-countdown-item-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-6 .u-countdown-counter-1 {
    font-size: 0.875rem;
  }

  .u-section-6 .u-countdown-label-1 {
    font-size: 0.625rem;
  }

  .u-section-6 .u-countdown-separator-1 {
    font-size: 0.875rem;
  }

  .u-section-6 .u-countdown-item-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-6 .u-countdown-counter-2 {
    font-size: 0.875rem;
  }

  .u-section-6 .u-countdown-label-2 {
    font-size: 0.625rem;
  }

  .u-section-6 .u-countdown-separator-2 {
    font-size: 0.875rem;
  }

  .u-section-6 .u-countdown-item-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-6 .u-countdown-counter-3 {
    font-size: 0.875rem;
  }

  .u-section-6 .u-countdown-label-3 {
    font-size: 0.625rem;
  }

  .u-section-6 .u-countdown-separator-3 {
    font-size: 0.875rem;
  }

  .u-section-6 .u-countdown-item-4 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-6 .u-countdown-counter-4 {
    font-size: 0.875rem;
  }

  .u-section-6 .u-countdown-label-4 {
    font-size: 0.625rem;
  }

  .u-section-6 .u-countdown-separator-4 {
    font-size: 0.875rem;
  }

  .u-section-6 .u-countdown-item-5 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-6 .u-countdown-counter-5 {
    font-size: 0.875rem;
  }

  .u-section-6 .u-countdown-label-5 {
    font-size: 0.625rem;
  }

  .u-section-6 .u-countdown-separator-5 {
    font-size: 0.875rem;
  }

  .u-section-6 .u-countdown-item-6 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-6 .u-countdown-counter-6 {
    font-size: 0.875rem;
  }

  .u-section-6 .u-countdown-label-6 {
    font-size: 0.625rem;
  }
} .u-section-7 {
  background-image: url("images/fecah.gif");
  background-position: 50% 50%;
}

.u-section-7 .u-sheet-1 {
  min-height: 100vh;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 554px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 429px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 343px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 226px;
  }
} .u-section-8 {
  background-image: url("images/63.png");
  background-position: 50% 50%;
}

.u-section-8 .u-sheet-1 {
  min-height: 100vh;
}

@media (max-width: 1199px) {
  .u-section-8 .u-sheet-1 {
    min-height: 554px;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-sheet-1 {
    min-height: 430px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-sheet-1 {
    min-height: 319px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-sheet-1 {
    min-height: 210px;
  }
}.u-section-9 .u-sheet-1 {
  min-height: 81px;
}

.u-section-9 .u-btn-1 {
  font-size: 2.25rem;
  letter-spacing: 1px;
  background-image: none;
  font-weight: normal;
  text-transform: none;
  margin: 0 auto;
}

@media (max-width: 991px) {
  .u-section-9 .u-sheet-1 {
    min-height: 73px;
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-sheet-1 {
    min-height: 70px;
  }

  .u-section-9 .u-btn-1 {
    font-size: 1.5rem;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-sheet-1 {
    min-height: 48px;
  }

  .u-section-9 .u-btn-1 {
    font-size: 0.75rem;
    margin-top: 4px;
    margin-bottom: 4px;
  }
} .u-section-10 {
  background-image: url("images/72.png");
  background-position: 50% 50%;
}

.u-section-10 .u-sheet-1 {
  min-height: 50vw;
}

@media (max-width: 991px) {
  .u-section-10 .u-sheet-1 {
    min-height: 475px;
  }
}

@media (max-width: 767px) {
  .u-section-10 .u-sheet-1 {
    min-height: 336px;
  }
}

@media (max-width: 575px) {
  .u-section-10 .u-sheet-1 {
    min-height: 240px;
  }
}.u-section-11 .u-sheet-1 {
  min-height: 81px;
}

.u-section-11 .u-btn-1 {
  font-size: 2.25rem;
  letter-spacing: 1px;
  background-image: none;
  font-weight: normal;
  text-transform: none;
  margin: 0 auto;
}

@media (max-width: 991px) {
  .u-section-11 .u-sheet-1 {
    min-height: 85px;
  }

  .u-section-11 .u-btn-1 {
    margin-top: 2px;
    margin-bottom: 2px;
  }
}

@media (max-width: 767px) {
  .u-section-11 .u-sheet-1 {
    min-height: 70px;
  }

  .u-section-11 .u-btn-1 {
    font-size: 1.5rem;
  }
}

@media (max-width: 575px) {
  .u-section-11 .u-sheet-1 {
    min-height: 48px;
  }

  .u-section-11 .u-btn-1 {
    font-size: 0.75rem;
  }
} .u-section-12 {
  background-image: url("images/9_1.gif");
  background-position: 50% 50%;
}

.u-section-12 .u-sheet-1 {
  min-height: 487px;
}

@media (max-width: 1199px) {
  .u-section-12 .u-sheet-1 {
    min-height: 531px;
  }
}

@media (max-width: 991px) {
  .u-section-12 .u-sheet-1 {
    min-height: 440px;
  }
}

@media (max-width: 767px) {
  .u-section-12 .u-sheet-1 {
    min-height: 271px;
  }
}

@media (max-width: 575px) {
  .u-section-12 .u-sheet-1 {
    min-height: 180px;
  }
} .u-section-13 {
  background-image: url("images/9.gif");
  background-position: 50% 50%;
}

.u-section-13 .u-sheet-1 {
  min-height: 716px;
}

@media (max-width: 1199px) {
  .u-section-13 .u-sheet-1 {
    min-height: 589px;
  }
}

@media (max-width: 991px) {
  .u-section-13 .u-sheet-1 {
    min-height: 460px;
  }
}

@media (max-width: 767px) {
  .u-section-13 .u-sheet-1 {
    min-height: 364px;
  }
}

@media (max-width: 575px) {
  .u-section-13 .u-sheet-1 {
    min-height: 245px;
  }
} .u-section-14 {
  background-image: url("images/CopiadeCopiadeGreenGoldRusticChildBaptismInvitationPresentacin169.png");
  background-position: 50% 100%;
}

.u-section-14 .u-sheet-1 {
  min-height: 335px;
}

@media (max-width: 1199px) {
  .u-section-14 .u-sheet-1 {
    min-height: 286px;
  }
}

@media (max-width: 991px) {
  .u-section-14 .u-sheet-1 {
    min-height: 223px;
  }
}

@media (max-width: 767px) {
  .u-section-14 .u-sheet-1 {
    min-height: 171px;
  }
}

@media (max-width: 575px) {
  .u-section-14 .u-sheet-1 {
    min-height: 120px;
  }
} .u-section-15 {
  background-image: none;
}

.u-section-15 .u-sheet-1 {
  min-height: 144px;
}

.u-section-15 .u-btn-1 {
  font-size: 3rem;
  letter-spacing: 1px;
  background-image: none;
  font-weight: normal;
  text-transform: none;
  margin: 22px auto;
}

@media (max-width: 991px) {
  .u-section-15 .u-btn-1 {
    font-size: 2.25rem;
  }
}

@media (max-width: 767px) {
  .u-section-15 .u-btn-1 {
    font-size: 1.875rem;
  }
}

@media (max-width: 575px) {
  .u-section-15 .u-sheet-1 {
    min-height: 70px;
  }

  .u-section-15 .u-btn-1 {
    font-size: 1.25rem;
    margin: 8px 0;
  }
}position: fixed;